.input {
  background-color: transparent;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.8rem;
  color: var(--gray-300);
  outline: none;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.2rem;
  font-stylel: italic;
}

.input:disabled {
  border: 0.2rem solid var(--gray-600);
  border-radius: 0.8rem;
  color: var(--gray-300);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
