.button {
  border: none;
  background: var(--primary);
  color: var(--gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 4.8rem 0;
  margin-inline: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  filter: brightness(70%);
}

.button svg {
  color: var(--gray-900);
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background: var(--primary);
  color: var(--gray-900);
}

.red {
  background: var(--error);
  color: var(--gray-100);
}
