.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--gray-900);
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link:hover {
  background: var(--primary-light);
}

.link svg {
  width: 2.4rem;
  height: 2.4rem;
}
