.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.link:hover {
  color: var(--primary-light);
}
