.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.cycleContainer {
  display: flex;
  gap: 0.6rem;
}

.cycle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
