.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.container a {
  color: var(--gray-400);
  text-decoration: none;
}

.container a:hover {
  color: var(--gray-500);
  text-decoration: underline;
}
